<% include partials/header %>

<div class="container">
  <div class="row">

    <% books.forEach(function(book){ %>

      <div class="col l4 center-align">
      <h4><%=book.bookName%></h4>
      <img src=<%= book.picture %> >

      <% if(currentUser && book.ownedBy.toString() !== currentUser._id){ %>
        <!-- Modal Trigger -->
        <a class="waves-effect waves-light btn" href="/books/<%= book._id %>">Request A Trade</a>



        <%  }  %>
        </div>
        <%  })  %>
      </div>
    </div>





    <% include partials/footer %>
