<% include partials/header.ejs %>

<% console.log(book); %>
<div class="container">
  <div class="row">
    <div class="col l4">
      <img src=<%= book.picture %> alt="" />
    </div>

    <div class="col-l8">
      <h3>Description:</h3>
      <p>
         <%= book.description %>
      </p>
      <form class="" action="index.html" method="post">
        <button type="submit" name="button" class='waves-effect waves-light btn red'>Trade</button>
      </form>
    </div>
  </div>
</div>

<% include partials/footer.ejs %>
