<% include partials/header.ejs %>

<% var book = book[0]; %>
<% console.log(book); %>
<div class="container">
  <div class="row">
    <div class="col l4">
      <img src="<%= book.picture %>" alt="" />
    </div>

    <div class="col-l8">
      <h3>Description:</h3>
      <p>
        <%= book.description %>
      </p>
    </div>
  </div>
</div>

<% include partials/footer.ejs %>
