<% include partials/header.ejs %>
<% console.log(currentUser); %>
<h1 class='center-align'>Trading Stuff</h1>

<div class="container">
  <div class="row">
    <div class="col s12">
      <table class='highlight'>
         <thead>
           <tr>
             <th>Trading</th>
             <th>for</th>
             <th>Your</th>
           </tr>
         </thead>
         <tbody>

            <% currentUser.peopleWantingToTrade.forEach(function(eachTrade){ %>
              <tr class='blackText'>
                <td><%= eachTrade.theirBook %></td>
                <td>For</td>
                <td><%= eachTrade.userBook %></td>
                <td>
                 <a href='/tradeRequest/<%= eachTrade._id %>' class='btn btn-large waves-effect waves-light blue'>Accept</a>
                </td>
                <td>
                 <a href='#a' class='btn btn-large waves-effect waves-light red'>Reject</a>
                </td>
              </tr>
            <%  }) %>

         </tbody>

      </table>
    </div>
  </div>
</div>

<% include partials/footer.ejs %>
