<% include partials/header.ejs %>

<div class="container center-align">
  
  <h1>Your Profile</h1>
  <hr>
  <ul>
    <li>Name: <%= foundUser.settings.name%></li>
    <li>City: <%= foundUser.settings.city%></li>
    <li>State: <%= foundUser.settings.state%></li>

  </ul>
  <a href="/user/<%= foundUser._id%>/user-profile/edit" class='btn btn-primary'>Edit Settings</a>

</div>


<% include partials/footer.ejs %>
